<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="card-title">Subordinates</h4>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    <div class="table-main">
      <table class="table table-striped table-hover mb-0">
        <thead>
        <tr>
          <th width="10%"><span>ID</span></th>
          <th class="text-left" width="45%"><span>Name</span></th>
          <th class="text-left" width="25%"><span>Responsable</span></th>
          <th class="text-center" width="20%"><span>Subordinates</span></th>
        </tr>
        </thead>
      </table>
      <div class="table-container scrollLeg">
        <table class="table table-striped table-hover">
          <tbody>
          <tr *ngFor="let element of data">
            <td width="10%"><span><i class="fa fa-unlock text-success"></i> {{element.ID}}</span></td>
            <td class="text-left" width="45%"><span class="table-row-title"><a
              href="kpi-details.html">{{element.name}} </a></span></td>

            <td class="text-left" width="25%">
              <div class="md-avatar float-left"
                   style="background-image:url('assets/images/user.png')"></div>
              <span class="pt-1 d-block">{{element.responsibleName}}</span>
            </td>
            <td class="text-center" width="20%">
              <h5 class="default-text"><span class="badge badge-secondary default-badge">{{element.subordinates}}</span>
              </h5>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
